<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlertDelayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B3324EE1EC4186300CEE41F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3325071EC4186300CEE41F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3325121EC4186300CEE41F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
